<html>
  <head>
    <title>Modifier un potin</title>
  </head>
  <body>
   <h1>Modifier un potin !</h1>
    <p>Indique ta modification</p>

        <!-- Ne fonctionne pas -->
        <form action = "/gossips/:id/edit/" method = "POST">
            Saisi ici ton nom : <input type = "text" name = "gossip_author"/><br/>
            Modifie le potin: <input type = "text" name = "gossip_content"/><br/>
            <input type = "submit"/>
        </form>
        
        
    </body>
</html>